/.cpcache/
/.lsp/
/target/
/.nrepl-port
/password.txt
/creds.edn
/.creds.edn
/.DS_Store
/docs/*.dtmp
/.clj-kondo/
/resources/k8s/overlays/demo/endpoint.env
/resources/k8s/overlays/docker-desktop/endpoint.env
/app.jar
/resources/k8s/overlays/slim-workspace/
